@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px) {
  .sectionCheckout {
    @apply w-full;
  }
}

@media screen and (max-width: 768px) {
  .img-detail img {
      cursor: default;
      transform: scale(1); /* Menetapkan skala kembali ke 1 */
  }
}

.swiper {
  @apply h-[39em];
}

.slick-list {
  margin: 0 -5px;
}
.slick-slide>div {
  padding: 0 5px;
}