@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 640px) {
  .sectionCheckout {
    @apply w-full;
  }
}


@media screen and (max-width: 768px) {
  .img-detail img {
      cursor: default;
      transform: scale(1); /* Menetapkan skala kembali ke 1 */
  }
}

.swiper {
  @apply h-[39em];
}

.slick-slide>div {
  padding: 0 5px;
}

.related-img{
  width: 100%;
  height: 9rem;
  object-fit: cover;
}

.alamat-checkout, .produk-checkout, .catatan-pelanggan, .metode-pembayaran{
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

@media (max-width: 1024px){
  .detail-cart{
    display: none;
  }
}

.transform-text-profile{
  @apply font-bold text-slate-600 
}

.card-search-product{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}